// FIX FOR CRS CONTENT

.aui .crs-type-more-information { padding-bottom: 15px; }
.aui .crs-type-more-information .crs-type-more-information-row { padding-bottom: 15px; }
.aui .crs-type-more-information .crs-type-more-information-text { padding-bottom: 15px; }
.aui .crs-type-more-information .accord-index-2 { padding-bottom: 15px; }
.aui .crs-type-more-information .accord-index-1 { padding-bottom: 15px; }
