/* FIX FOR CRS CONTENT */

.aui .crs-type-more-information { padding-bottom: 15px; }
.aui .crs-type-more-information .crs-type-more-information-row { padding-bottom: 15px; }
.aui .crs-type-more-information .crs-type-more-information-text { padding-bottom: 15px; }
.aui .crs-type-more-information.accord-index-1 { padding-bottom: 15px; }
.aui .crs-type-more-information.accord-index-2 { padding-bottom: 15px; }
	
.crs-type-wrapper { color: #5d5d5d; }


/* bordo per foto BOARD */
.aui .teaser-25-75 .image-zoom img { border-radius: 300px; }



/* glossario */

.link-char { line-height: 45px; }
.single-letter-box h1 { text-align: center; font-size: 50px; margin-bottom: 20px; }
