/* NEW BLUE OVERLAY X TEASER ROW */
.aui .promo-box-container .promo-box .box-shadow {
	background-color: #003882;
	opacity: 0.6;
 }

 .aui body:not(.mobile-device) .promo-box-container .promo-box:hover .promo-overlay {
	background-color: #003882;
	opacity: 0.6;
}

.aui .short-description-box .hover, .aui .box-img .hover, .aui .image-zoom .hover, .aui .media-video .hover {
	background-color: #003882;
	opacity: 0.6;
}

/* HERO IMG */
.clearer { clear:both; width:100%; }

.heroimg {
	width:100%;
	min-height:300px;
}
.heroimg .txt { width:45%; text-align:center; float:right; padding:60px 120px 0 0; }
.heroimg h1 { font-size:55px!important; margin:0!important; padding:0!important; color:#ffffff!important; }
.heroimg h2 { font-size:40px!important; margin:0!important; padding:0!important; color:#ffffff!important; }

.main { width:100%; overflow:auto; padding:10px 0; }
.twothirds { width:70%; float:left; text-align:center; }
.onethird { width:30%; float:left; text-align:center; }

.find-a-hearing-aid { background-color:#008c96; box-shadow:0 0 60px 0 rgba(0,0,0,0.4) inset; height:710px; padding:100px 0 0; }
.find-a-hearing-aid a { color:#ffffff; text-decoration:none; }
.find-a-hearing-aid .img .imagetwo { display:none; }
.find-a-hearing-aid  h1 { margin:0; padding:0; font-weight:normal; font-size:48px!important; line-height:52px!important; }
.find-a-hearing-aid  button { width:320px; }

.searchbox { background-color:#e5e2dc; min-height:355px; box-shadow:0 0 60px 0 rgba(0,0,0,0.4) inset; }
.searchbox h1 { font-weight:normal; margin:0 auto; padding:60px 0 0!important; font-size:35px!important; line-height:38px!important; }
.aui .search-bar { padding:0!important; }

.searchbox .shadow-input { background-color:#ffffff; margin-top:15px!important; width:90%; }
.searchbox .shadow-input input { width:100%!important; }
.searchbox button { margin-top:15px; }

.hearingtestbox { background-color:#008bc0; height:355px; box-shadow:0 0 60px 0 rgba(0,0,0,0.4) inset; }

.hearingtestbox a { color:#222222; text-decoration: none; }
.hearingtestbox .img { padding: 20px 0 0; margin:0 auto; }

.hearingtestbox h1, .hearingtestbox h2 { font-weight:normal; color:#222222; margin:0; padding:0; }
.hearingtestbox h1 { font-size:36px!important; line-height:40px!important;}
.hearingtestbox h2 { font-size:18px!important; line-height:22px!important; width:80%!important; margin:0 auto 10px; }

/* MEDIA QUERIES =================== */

@media screen and (max-width:1390px) { 
	.heroimg .txt { width:40%; padding:80px 120px 0 0; }
	.heroimg h1 { font-size:42px!important; }
	.heroimg h2 { font-size:30px!important; }
}

@media screen and (max-width:1280px) { .heroimg .txt { width:40%; padding:80px 60px 0 0; } }

@media screen and (max-width:1160px) {
	.searchbox h1 { font-size:28px!important; line-height:32px!important; }
	.hearingtestbox button { width:90%; font-size:16px!important; }
	.hearingtestbox h1 { font-size:28px!important; line-height:32px!important;}
	.hearingtestbox h2 {width:95%!important; font-size:16px!important; }
}

@media screen and (max-width:1130px) { .heroimg .txt { width:48%; } .searchbox .shadow-input input { font-size:14px!important; } }
@media screen and (max-width:1100px) { .searchbox button { float:none!important; } }
@media screen and (max-width:980px) {
  
	.heroimg .txt { width:42%; }
	.heroimg h1 { font-size:33px!important; }
	.heroimg h2 { font-size:22px!important; }

	.twothirds { width:62%; }
	.onethird { width:38%; }

	.find-a-hearing-aid .img .imagetwo { display:block; width:331px; height:232px; margin:0 auto; }
	.find-a-hearing-aid .img .imageone { display:none; }
}

@media screen and (max-width:900px) { .find-a-hearing-aid  h1 { width:80%; margin:0 auto; padding-bottom:10px; } }

@media screen and (max-width:800px) {

	.heroimg .txt { width:60%; padding:80px 20px 0 0; }

	.twothirds { width:100%; }
	.onethird { width:100%; }

	.find-a-hearing-aid { height:auto; padding:40px 0; }
	.hearingtestbox,
	.searchbox { height:auto; min-height:auto; padding:40px 0 60px; }

	.find-a-hearing-aid h1 { font-size:32px!important; }
	.searchbox h1 { padding:0!important; }

	.searchbox button { position:relative!important; padding:0!important; width:320px!important; height:50px!important; margin:0!important; }
	.searchbox button .hide-xs { display:block!important; }
	.icon-search { display:none; }

	.find-a-hearing-aid .img .imagetwo,
	.hearingtestbox .img img { display:none; }

	.hearingtestbox button { width:320px; }
}

@media screen and (max-width:450px) {
	.heroimg .txt { width:100%; padding:160px 0 0; }
}
